@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<p>The Event Management Application is a web-based platform designed to help users organize and manage events easily. It
    allows users to create events by entering details such as title, description, date, time, and location. All events
    are displayed in a structured format, making it simple to view and keep track of upcoming activities.</p>
    <p>
        The Event Management Application is a web-based platform designed to help users organize and manage events easily.
        It allows users to create events by entering details such as title, description, date, time, and location. All
        events are displayed in a structured format, making it simple to view and keep track of upcoming activities.
    </p>