body {
    background: linear-gradient(to right, #8e74eb, #ACB6E5);
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}


h2 {
    color: #240be1;
    text-align: center;
    margin-bottom: 30px;
}


.event-card {
    background-color: #86a9eb;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.btn {
    color: #fff;
    background-color: #258cfb;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    height: 40px;
    line-height: 40px;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
}